.container{
    background-color: rgb(3, 122, 190);
    width: 100vw;
}
.navbar{
    position: fixed;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    padding-right: 10%;
    border-radius: 10px;
    background-color:  rgb(3, 122, 190);;
}
.navbar li{
    list-style: none;    
}
.navbar li a:hover{
    color: rgb(255, 255, 255);
    font-size:25px;
    transition: 1s ;
    text-shadow: 0 20px  10px black;
}
.navbar li a{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-right: 25px;
    text-decoration: none;
}
.navbar button{
    background-color:rgb(16, 137, 250);
    color: white;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid white;
    
}
.navbar button:hover{
    background-color: rgb(0, 60, 255);
    transition: 1s;
    box-shadow: 0 6px 10px black;
    padding-left: 10px;
    padding-right: 10px;
}

.text h1 span{
    color: rgb(255, 255, 255);
}
.text h1 span:hover{
    color: rgb(0, 0, 0);
    transition:1s;
    text-shadow: 0 8px 8px;
}
.home{
    display: flex;
    height: 600px;
    border: 1px solid rgb(16, 137, 250);
    align-items: center;
    justify-content:center;
}
.home p{
    font-size:20px;
    font-weight: bold;  
}
.home button{
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(15, 15, 15, 0.856);
    width: 80%;
    font-size: large;
    border-radius: 8px;
    border: 1px solid white;
    box-shadow: 0 10px 10px rgb(0, 0, 0);
}
.home button:hover{
    background-color: rgb(16, 137, 250);
    transition: 1s;
    border: 1px solid black;
    box-shadow: 0 10px 10px rgb(255, 255, 255);
}
.text h1:hover{
    color: rgb(240, 232, 232);
    text-shadow: 0 8px 8px black;
    transition: 1s;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text h1 span:hover{
    color: black;
    font-family:serif;

}
.img img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow:  10px 10px rgb(0, 136, 255);
}
.about1{
    display: inline;
}
.About{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content:center;
}

.icon a{
    color: rgb(2, 2, 2);
}
.icon a:hover{
    color: rgb(255, 255, 255);
}
.text{
    margin-right: 10%;
    margin-bottom:  10%;
}

.services{
    height: 100vh;
    border: 1px solid rgb(44, 44, 44);
}

.services2{
    display: flex;
    justify-content: space-around;
    padding-top: 13%;
}
.services2 img{
    justify-self: center;
    margin-top:  4%;
    margin-left: 7%;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 10px 10px black;
}
.services2 h4{
    color: rgb(0, 0, 0);
    justify-self: center;
}
.services2 p{
    color: rgb(0, 0, 0);
    padding-left: 10%;
    padding-right: 12%;
}
.s1{
    background-color: rgba(255, 255, 255, 0.753);
    width: 350px;
    height: 370px;
    box-shadow: 0 10px 10px black;
}
.s1:hover{
    width: 370px;
    height: 390px;
    background-color: rgba(255, 255, 255, 0.459);
    transition:1s;
}

.s2{
    background-color: rgba(255, 255, 255, 0.829);
    width: 350px;
    height: 370px;
    box-shadow: 0 10px 10px black;
}
.s2:hover{
    width: 370px;
    height: 390px;
    background-color: rgba(255, 255, 255, 0.459);
    transition:1s;
}

.s3{
    background-color: rgba(255, 255, 255, 0.815);
    width: 350px;
    height: 370px;
    box-shadow: 0 10px 10px black;
}
.s3:hover{
    width: 370px;
    height: 390px;
    background-color: rgba(255, 255, 255, 0.459);
    transition:1s;
}

.skills{
    height: 100vh;
    border: 1px solid rgb(0, 81, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills img{
    width: 100px;
    height: 100px;
    padding-top: 10%;
    padding-left: 30%;
}
.sh{
    display:flex;
    justify-content:center;
    padding-top: 10%;
    gap: 6px;
    color: rgb(0, 0, 0);
}
.skills p{
    padding-left: 40%;
    padding-top: 20%;
    font-weight: bolder;
    font-size: large;
    color: aliceblue;
}
.sk1{
    width: 272px;
    height: 250px;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}
.sk2{
    width: 272px;
    height: 250px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}
.sk3{
    width: 272px;
    height: 250px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}
.project{
    height: 600px;

}
.project h3{
    padding-top: 8%;
    font-size: 20px;
    align-self: flex-start;
    padding-left: 5%;
}
.project1{
    display: flex;
    justify-content: space-around;
    gap: 4%;
    padding-left: 3%;
    padding-right: 3%;
} 
.pro1{
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0 10px 10px black;
}
.pro1:hover{
    background-color: rgba(202, 199, 199, 0.733);
    width: 360px;
    height: 410px;
    transition: 1s;
    border-radius: 5px;
    box-shadow: 0 10px 10px black;
}

.pro2{
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0 10px 10px black;
}
.pro2:hover{
    background-color: rgba(202, 199, 199, 0.733);
    width: 360px;
    height: 410px;
    transition: 1s;
    border-radius: 5px;
    box-shadow: 0 10px 10px black;
}
.pro3{
    background-color:  rgb(255, 255, 255);
    width: 350px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0 10px 10px black;
}
.pro3:hover{
    background-color: rgba(202, 199, 199, 0.733);
    width: 360px;
    height: 410px;
    transition: 1s;
    border-radius: 5px;
    box-shadow: 0 10px 10px black;
}
.pro4{
    background-color:  rgb(255, 255, 255);
    width: 350px;
    height: 400px;
    box-shadow: 0 10px 10px black;
}
.pro4:hover{
    background-color: rgba(202, 199, 199, 0.733);
    width: 360px;
    height: 410px;
    transition: 2s;
    border-radius: 5px;
    box-shadow: 0 10px 10px black;
}
.project1 h4{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    justify-self: center;
}
.project1 img{
    width: 220px;
    height: 150px;
    padding-left: 4%;
    padding-top: 4%;

}
.bolg{
    height: 100vh;
}
.project1 p{
    color: rgb(49, 48, 48);
    font-size: 15px;
    padding-left: 5%;
}
.project1 a{
    padding-left: 5%;
}
.bolg h3{
    align-self:flex-start;
    color: wheat;
    padding-left: 5%;
    padding-top: 8%;
}
.blog1{
    display: flex;
    justify-content: space-around;
}
.bl1{
    background-color: slategray; 
}
.bl2{
    background-color: slategrey;
}
.Contact{
    display: flex;
    justify-content: space-around;
    background-color: rgba(206, 202, 201, 0.404);
    width: 80vw;
    height:90vh;
    margin: auto;
    margin-bottom: 10%;
    border-radius: 8px;
   
}
.touch{
    margin-top: 15%;
    border: 1px solid rgb(173, 173, 173);
    width: 30%;
    height: 40%;
    box-shadow:0 10px 10px  rgb(11, 11, 12);
    padding:4%;
}
.mil{
    align-items: center;
    margin-top: 15%;
    border: 1px solid rgb(170, 165, 165);
    width: 30%;
    height: 40%;
    box-shadow:0 10px 10px  rgb(11, 11, 12);
    padding:4%;   
}
.mil input{
    margin-bottom: 15px;
    padding: 3px;
    border-radius: 2px;
    border: 1px solid grey;
}
.mil button{
    padding: 4px;
    width: 60px;
    background-color: rgba(0, 136, 255, 0.404);
    border: 1px solid white;
    border-radius: 2px;
}
.mil button:hover{
    padding: 5px;
    width: 70px;
    background-color: rgba(0, 199, 17, 0.747);
    border: 1px solid white;
    border-radius: 2px;
    transition: 1s;
}
.touch h4{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20%;
}
footer {
      text-align: center;
      padding: 13px;
      background: rgb(0, 0, 0);
      color:rgb(255, 255, 255);
      margin-top: 30px;
    }
